/* ----------------------------------- */
/* ESTILOS GENERALES (Diseño Elástico) */
/* ----------------------------------- */




/* ---------- MEDIA QUERIS ---------- */
/* -------------------- */
/* SMARTPHONE (Vertical)*/
/* -------------------- */
@media only screen
and (min-device-width:320px) and (max-device-width: 766px)
and (orientation: portrait)
{


}

@media only screen
and (min-device-width:320px)
and (orientation: portrait)
{


}
/* -------------------- */
/* TABLET = iPad */
/* -------------------- */

/* ---------- VERTICAL ---------- */
@media only screen
and (min-device-width:768px)
and (orientation: portrait)
{



}
/* ---------- HORIZONTAL ---------- */
@media only screen
and (min-device-width:1024px)
and (orientation: landscape)
{



}
/* -------------------- */
/* ESCRITORIO */
/* -------------------- */
@media only screen
and (min-width:1366px)
{

    .header__menu__desplegable{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
    .header__menu__desplegable li:nth-child(2){
        margin: 0 2rem;
    } 


/* MAIN */
/* Eliminando el picture */
figure picture{
    display: none;
}

figure{
    display: flex;
    align-items: flex-end;
    height: 150px;
    padding: 2rem;
}
figure:nth-child(1){
    background:url(/assets/img/desktop/Gato\ 1.jpg) no-repeat center;
    background-size: cover;
}
figure:nth-child(2){
    background:url(/assets/img/desktop/Gato\ 2.jpg) no-repeat center 20%;
    background-size: cover;
}
figure:nth-child(3){
    background:url(/assets/img/desktop/Gato\ 3.jpg) no-repeat center;
    background-size: cover;
}
/* Animación */
figure:hover{
    height: 400px;
    transition: 1s;
}

/* Cambiando el figcaption Ocultandolo */
figure figcaption{
    color: #fff;
    visibility: hidden;
    width: 30%;
    text-align: justify;
}
/* Figcaption ahora visible */
figure:hover figcaption{
    visibility: visible;
}


}

